{# 引入模板，该模板路径在根目录下templates内，根目录templates文件夹需要在全局setting内TEMP...内设置 #}
{% extends 'base.html' %}

{# 引用模板base.html内的标题块 #}

{% block title %}
    {{ blog_type.type_name }}
{% endblock %}

{# 引用模板base.html内的内容块 #}
{% block content %}
    <h3>{{ blog_type.type_name }}</h3>
    {% for blog in blogs %}
        <a href="{% url 'blog_detail' blog.pk %}">
            <h3>{{ blog.title }}</h3>
        </a>
        <p>{{ blog.content|truncatechars:30 }}</p>
    {% empty %}
        <p> -- 暂无博客 敬请期待 -- </p>
    {% endfor %}
    <p>一共有{{ blogs|length }}篇博客</p>
{% endblock %}
{# 引用写法查看base.html #}