        *{
            margin: 0;
            padding: 0;
        }
        body{
            margin-top:70px!important;
        }
<<<<<<< HEAD
        ul{
            list-style-type: none;
        }
=======
        ul {
            list-style-type: none;
        }
>>>>>>> cd57c9b30df5dbf4e04eb557a075b48d11795c88
